.body1{
  height: 100svh;
  width:100svw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.hello2 p{
  font-size: 0.8rem;
  font-family: "Conthrax", sans-serif;
}
.main_11a{
  height: 100svh;
  width: 100% !important;
  /* background-color: aquamarine; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center ;
}
.maincard{
  height: 100%;
  width:100% !important;
  display:flex !important;
  justify-content: center;
  align-items: center;
}
.maincard img{
  height: 30svh;
  width:100%;
  border-radius: 10px;
}

.action-btn span::after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0px, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0));
  content: "";
  height: 200%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: all 0.7s ease 0s;
  width: 200%;
}
.hello1{
  height:40svh;
  width: 90%;
}
.hello2{
  height:fit-content;
  width:90%;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
  text-align: justify;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .50;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #e9ecef;
}