.touch__main1 {
    overflow: visible !important;
    max-width: 600px !important;
    margin: 10px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    align-self: center;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 3rem;
    padding: 0 1.25rem;
    border: 1px solid #303030;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

@media (min-width: 768px) {
    .form__input {
        width: clamp(120px, 35vw, 420px);
    }
}

.form__input:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-5.50rem) scale(0.9);
    color: #7649FE;
}

.form__input::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__input:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.form__label {
    font-size: 1.2rem;
    color: #909090;
    display: block;
    transform: translate(0.25rem, -3rem);
    transform-origin: 0 0;
    transition: all 500ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}